name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: sudo apt-get update && sudo apt-get install -y libdbus-1-dev
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
      - name: Run Tests
        run: cargo test --verbose
      - name: Build
        run: cargo build --verbose
